.cart-noorders {
  text-align: center;
}

.cart-heading-align {
  display: flex;
  justify-content: space-between;
}

.cart-item-size {
  width: 180px;
  height: 100px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.cart-name-spl {
  display: flex;
  align-items: center;
}

.cart-spl-margin {
  display: flex;
  justify-content: flex-end;
}
