.rest-details-main-bg {
  overflow: hidden;
  height: 89vh;
  overflow-y: scroll;
}
@media (orientation: landscape) {
  .rest-image-new {
    width: 50vw;
  }
  .rest-img-details-align {
    display: flex;
    background-color: grey;
    color: white;
    justify-content: space-between;
    width: 98.5vw;
  }
  .item-img-size {
    width: 280px;
    height: 180px;
    border-radius: 10px;
    margin-right: 18px;
    margin-bottom: 10px;
  }
}

@media (orientation: portrait) {
  .rest-image-new {
    width: 50vw;
    height: 250px;
  }
  .rest-img-details-align {
    display: flex;
    background-color: grey;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 8px;
    width: 98.5vw;
    height: 250px;
  }
  .item-img-size {
    width: 160px;
    height: 120px;
    border-radius: 10px;
    margin-right: 18px;
    margin-bottom: 10px;
  }
  .line-spacing {
    line-height: 3px;
  }
}

.rating-align {
  display: flex;
}

.item-align {
  display: flex;
  margin-right: 10px;
  width: 500px;
  align-items: flex-start;
  margin-bottom: 15px;
}

.ul-items-align {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}

.resta-details-align {
  margin: 30px;
}
