.header-bg {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  list-style-type: none;
}

.new-icon {
  text-decoration: none;
  color: #f7931e;
}

.header-heading {
  color: #f7931e;
  display: flex;
}
.header-button {
  background-color: #f7931e;
  color: white;
  height: 40px;
  width: 60px;
  border-width: 0px;
  border-radius: 10px;
  margin-top: 8px;
  margin-right: 5px;
  cursor: pointer;
}
.but1 {
  background-color: #f7931e;
  color: white;
  padding: 10px;
  border-width: 0px;
  border-radius: 8px;
}
.but2 {
  background-color: transparent;
  border-width: 0px;
}

.head-special {
  text-decoration: none;
  color: white;
  margin-right: 50px;
}

.m-header-hide {
  display: flex;
  justify-content: space-evenly;
}
.one {
  text-decoration: none;
  color: black;
}

@media (orientation: portrait) {
  .head-special {
    display: none;
  }
  .header-button {
    display: none;
  }
  .menu-button {
    display: block;
  }
}

@media (orientation: landscape) {
  .menu-button {
    display: none;
  }
}

.mobile-view-align {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: rgba(54, 160, 205, 0.1);
  color: black;
}

.bg-home-2 {
  display: flex;
}
